body {
  display: flex;
  text-align: center;
  justify-content: center;

}

.video-responsive {
  /* overflow: hidden; */

  /* position: relative; */
  /* height: 50; */
}

.video-responsive iframe {
  height: 340px;
  width: 560px;
  position: relative;
}

.ytList {
  /* display: -ms-inline-grid;
  padding: 4px;
  font-size: 10px;
  text-align: center;
  word-wrap: break-word;
  width: 100px; */
  width: 100px;
  position: relative;
  display: flexbox;
}