body {
  background-color: rgba(56, 56, 56, 1);
  font-family: Arial, Helvetica, sans-serif;
}

.video-responsive iframe {
  width: 100%;
  height: 100%;
  position: relative;
}

.ytList {
  /* display: -ms-inline-grid;
  padding: 4px;
  font-size: 10px;
  text-align: center;
  word-wrap: break-word;
  width: 100px; */
  font-weight: bolder;
  font-size: 7px;
  width: 500px;
  padding: 4px;
  overflow-x: auto;
  position: relative;
  display: inline-flex;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  padding: 20px;
}

p {
  color: white;
  text-align: center;
  font-size: small;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-shadow: cyan 2px 2px 5px;
}

li {
  text-transform: uppercase;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 10px;
  letter-spacing: 4px;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px cyan;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  background-color: gray;
  padding: 8px 0;
  font-size: 9px
}

/* All href links */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  color: aqua;
}

a:active {
  text-decoration: underline;
}