body {
  background-color: rgba(56, 56, 56, 1);
  font-family: Arial, Helvetica, sans-serif;
}

.video-responsive iframe {
  max-width: 500px;
  
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  padding: 10px;
}

p {
  color: white;
  text-align: center;
  font-size: small;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-shadow: cyan 2px 2px 5px;
}

li {
  text-transform: uppercase;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 10px;
  letter-spacing: 4px;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px cyan;
}

footer {
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  background-color: gray;
  padding: 8px 0;
  font-size: 9px
}

.button {
  background-color: cyan;
  border-radius: 5px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  min-width: 90px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 2px 2px 5px #ccc;
  margin: auto;
  margin-top: 50px;
}

.search {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  text-align: center;
}

.players{
  columns: 3;
  column-gap: 40px;
  column-rule: 2px solid cyan;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  
}

/* .YouTubePlayer{
  display: flex;
  margin-left: 0;
  margin-right: auto;
}

.VimeoPlayer{
  
  float: right;
}

.DailyMotionPlayer{
  float: left;
} */

/* All href links */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  color: aqua;
}

a:active {
  text-decoration: underline;
}